@use "../../partials" as *;
@use "../../mixins/" as *;

.content {
    background-color: $color-secondary;
    padding: 20px 0;
    border-bottom: 1px solid $color-primary;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contacts {
        @include horizontal-flex-items;
    }
    &__phone {
        @include contact-phone;  
    }
    &__btn {
        @include contact-button;
    }
}